*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    max-width: 420px;
    margin: 0px auto;
    background: #eee;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

